SupplierProfileExportWS/src/main/resources/xsd/SupplierProfileRequestList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="SupplierProfileRequestList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SupplierProfileRequestEntry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LoginId" type="xs:string" />
                    <xs:element name="FullName" type="xs:string" />
                    <xs:element name="EmailAddress" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                    <xs:element name="DefaultCurrency" type="xs:string" />
                    <xs:element name="PreferredLocale" type="xs:string" />
                    <xs:element name="Organization" type="xs:string" />
                    <xs:element name="OrgId" type="xs:string" />
                    <xs:element name="MigrationStatus" type="xs:string" />
                    <xs:element name="IsUserApproved" type="xs:string" />
                    <xs:element name="TimeUpdated" type="xs:string" />
                    <xs:element name="TimeCreated" type="xs:string" />
                    <xs:element name="CreatedBy" type="xs:string" />
                    <xs:element name="EnvironmentalRisk" type="xs:string" />
                    <xs:element name="FinancialRisk" type="xs:string" />
                    <xs:element name="LegalRisk" type="xs:string" />
                    <xs:element name="OperationalRisk" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>