SupplierProfileExportWS/src/main/resources/wsdl/SupplierProfileImport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:Ariba:Sourcing:vrealm_350041" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="SupplierProfileImport" targetNamespace="urn:Ariba:Sourcing:vrealm_350041">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:Ariba:Sourcing:vrealm_350041" xmlns:typens="urn:Ariba:Sourcing:vrealm_350041">
            <xsd:element name="Headers">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SupplierProfileImportRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="WSSupplierProfileImportInputBean_Item">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="item" type="typens:WSSupplierProfileImportInputBean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="partition" type="xsd:string"/>
                    <xsd:attribute name="variant" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SupplierProfileImportReply">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="WSSupplierProfileImportOutputBean_Item">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="item" type="typens:WSSupplierProfileImportOutputBean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="partition" type="xsd:string"/>
                    <xsd:attribute name="variant" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="WSSupplierProfileImportInputBean">
                <xsd:all>
                    <xsd:element name="ProfileFile" type="xsd:base64Binary">
                        <xsd:annotation>
                            <xsd:documentation>Supplier profile file containing profile information.  The format is csv.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="WSSupplierProfileImportOutputBean">
                <xsd:all>
                    <xsd:element name="ErrorMessage" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Message returned from the service execution.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Status" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:documentation>Return status. 0 indicates success.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="HeadersMessage">
        <part element="typens:Headers" name="header"/>
    </wsdl:message>
    <wsdl:message name="SupplierProfileImportRequestMessage">
        <part element="typens:SupplierProfileImportRequest" name="body"/>
    </wsdl:message>
    <wsdl:message name="SupplierProfileImportReplyMessage">
        <part element="typens:SupplierProfileImportReply" name="body"/>
    </wsdl:message>
    <wsdl:portType name="SupplierProfileImportPortType">
        <wsdl:operation name="SupplierProfileImportOperation">
            <wsdl:input message="typens:SupplierProfileImportRequestMessage"/>
            <wsdl:output message="typens:SupplierProfileImportReplyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SupplierProfileImportBinding" type="typens:SupplierProfileImportPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SupplierProfileImportOperation">
            <soap:operation soapAction="/Process Definition"/>
            <wsdl:input>
                <soap:header message="typens:HeadersMessage" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="typens:HeadersMessage" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SupplierProfileImport">
        <wsdl:documentation>Ariba Web Service</wsdl:documentation>
        <wsdl:port binding="typens:SupplierProfileImportBinding" name="SupplierProfileImportPortType">
            <soap:address location="https://s3.ariba.com/Sourcing/soap/SandboxAtlantic-T/SupplierProfileImport"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
